{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block titele %}Home{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
    <table class="table" style="table-layout: fixed">
        <thead>
            <tr>
                <th>任务OA</th>
                <th>项目</th>
                <th>经办人</th>
                <th>开发人员</th>
                <th>任务状态</th>
                <th>任务描述</th>
            </tr>
            <tbody>
                {% for work in pagination.items %}
                <tr>
                    <td>{{ work.task_id }}</td>
                    <td>{{ work.project_id }}</td>
                    <td>{{ work.user_name }}</td>
                    <td>{{ work.user_name }}</td>
                    <td>{{ work.work_status }}</td>
                    <td style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                        <a href="{{ url_for('work.detail', work_id=work.work_id) }}">
                            {{ work.work_text }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    {% else %}
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    {% endif %}
{% endblock %}