[POST]
postUrl = http://191.168.6.6:8180/xalms/engine/calc.action
postUrl_batch = http://191.168.6.6:8180/xalms/engine/calcBatch.action
payloadHeader = {"Host": "191.168.6.6:8180", "Content-Type": "application/json"}


[database_66]
host = 191.168.6.6
port = 1521
dbname = xalms
username = xalms_trd
password = xpar


[database_61]
host = 191.168.0.61
port = 1521
dbname = xqa
username = xqa_trd
password = xpar


[database_27]
host = 191.168.0.27
port = 1521
dbname = xalms
username = xalms_trd
password = xpar


[SQL]
TIDX_SQL = select I_CODE,A_TYPE,M_TYPE from TIDX order by I_CODE
TIDX_PARAMS = {}
TIDX_FIELDS = iCode, aType, mType
TIDX_BATCH_SQL = select I_CODE,A_TYPE,M_TYPE from TIDX order by I_CODE
TIDX_BATCH_PARAMS = {}
TIDX_BATCH_FIELDS = iCode, aType, mType

TFND_SQL = select I_CODE,A_TYPE,M_TYPE from TFND order by I_CODE
TFND_PARAMS = {}
TFND_FIELDS = iCode, aType, mType
TFND_BATCH_SQL = select I_CODE,A_TYPE,M_TYPE from TFND order by I_CODE
TFND_BATCH_PARAMS = {}
TFND_BATCH_FIELDS = iCode, aType, mType

STOCK_SQL = select I_CODE,A_TYPE,M_TYPE from TSTK order by I_CODE
STOCK_PARAMS = {}
STOCK_FIELDS = iCode, aType, mType
STOCK_BATCH_SQL = select I_CODE,A_TYPE,M_TYPE from TSTK order by I_CODE
STOCK_BATCH_PARAMS = {}
STOCK_BATCH_FIELDS = iCode, aType, mType

TBND_SQL = select I_CODE,A_TYPE,M_TYPE from TBND order by I_CODE
TBND_PARAMS = {}
TBND_FIELDS = iCode, aType, mType
TBND_BATCH_SQL = select I_CODE, A_TYPE, M_TYPE, :valueDate as valueDate,
                        :AIOffset as AIOffset, :price as price, :priceType as priceType
                 from TBND where B_START_DATE=:B_START_DATE order by I_CODE
TBND_BATCH_PARAMS = {"valueDate":"2019-06-30", "AIOffset":"1", "price":"100", "priceType":"DP", "B_START_DATE":"2018-01-25"}
TBND_BATCH_FIELDS = iCode, aType, mType, valueDate, AIOffset, price, priceType

CASHLB_SQL = select I_CODE,A_TYPE,M_TYPE from TTRD_CASHLB order by I_CODE
CASHLB_PARAMS = {}
CASHLB_FIELDS = iCode, aType, mType

PAYMENT_SQL = select I_CODE,A_TYPE,M_TYPE from TBND
              union all
              select I_CODE,A_TYPE,M_TYPE from TTRD_CASHLB order by I_CODE
PAYMENT_PARAMS = {}
PAYMENT_FIELDS = iCode, aType, mType

BONDFUTUER_SQL = select I_CODE,A_TYPE,M_TYPE from TBNDFUTURE order by I_CODE
BONDFUTUER_PARAMS = {}
BONDFUTUER_FIELDS = iCode, aType, mType

STOCKIDXFUTUER_SQL = select I_CODE,A_TYPE,M_TYPE from TSTK_IDX_FUTURE order by I_CODE
STOCKIDXFUTUER_PARAMS = {}
STOCKIDXFUTUER_FIELDS = iCode, aType, mType

CVTBOND_SQL = select I_CODE,A_TYPE,M_TYPE from TBND where A_TYPE=:A_TYPE order by I_CODE
CVTBOND_PARAMS = {"A_TYPE": "SPT_CB"}
CVTBOND_FIELDS = iCode, aType, mType

STOCKOPTION_SQL = select I_CODE,A_TYPE,M_TYPE from TEQOPTION order by I_CODE
STOCKOPTION_PARAMS = {}
STOCKOPTION_FIELDS = iCode, aType, mType

TIRSWAP_SQL = select I_CODE,A_TYPE,M_TYPE from TTRD_IR_SWAP order by I_CODE
TIRSWAP_PARAMS = {}
TIRSWAP_FIELDS = iCode, aType, mType